*
{
    margin: 0;
    padding: 0;
}

#Nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: #DDDDDD!important;
}
.navbar-brand img
{
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#Nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background-color: #DDDDDD!important;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}